/* Wrap signatures (instead of horizontal scroll  */
.md-typeset .highlight pre,
.md-typeset code {
  white-space: pre-wrap;
  overflow-x: auto;
}

/* Hides the Site title */
.md-header__topic {
  display: none;
}

/* Render "API" navigation entry as a non-clickable section header */
.md-nav--primary[data-md-level="0"] > .md-nav__list > .md-nav__item:nth-child(2){
  margin-top: 15px;
  font-weight: 700 !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5em !important;
  text-decoration-color: #555 !important;
  text-decoration-thickness: 1px !important;
  border-bottom: 1px solid #aaa;
  pointer-events: none;
  cursor: none;
  user-select: none;
}


/* Hide navigation title */
.md-nav__title[for="__drawer"] {
  display: none;
}

/* Name column in Parameter view */
div.md-typeset__table > table th:first-child,
div.md-typeset__table > table td:first-child {
  width: 10rem;
  max-width: 10rem;
}

/* Description column in Parameter view */
div.md-typeset__table > table th:nth-child(3),
div.md-typeset__table > table td:nth-child(3) {
  width: 10rem;
  min-width: 10rem;
}
